.descuento {
  color: red;
  font-weight: bold; /* Opcional */
}

.añadido {
  color: black;
  font-weight: bold; /* Opcional */
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

